@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #333; /* RGB */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  text-align: center;
}
section h2 {
  font-size: 4.0rem;
  letter-spacing: 0.1em;
}
ol, ul {
  list-style: none;
}
a:hover {
  opacity: 0.5;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.none {
  display: none;
}
@media screen and (max-width: 768px) {
  section h2 {
    font-size: 3.2rem;
    letter-spacing: 0.1em;
  }
}
@media screen and (max-width: 480px) {
  section h2 {
    font-size: 2.4rem;
    letter-spacing: 0.1em;
  }
}
/* header */
.header {
  height: 84px;
  width: 100%;
  background-color: #313132;
}
.header-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-title {
  position: absolute;
  display: block;
  padding-top: 20px;
  color: #FFF;
  text-align: left;
}
.header-title h1 {
  font-size: 3.0rem;
  padding-bottom: 5px;
}
.header-title p {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
}
.header a {
  text-decoration: none;
}
/* 1024pxまでの幅の場合に適応される */
@media screen and (min-width: 1024px) {
  #g-nav {
    text-align: right;
    padding: 33px 0;
  }
  #g-nav ul li {
    display: inline-block;
    margin-right: 40px;
  }
  #g-nav ul li:last-child {
    margin-right: 0;
  }
}
#g-nav ul a {
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
/* 1024pxまでの幅の場合に適応される */
@media screen and (max-width: 1024px) {
  /*========= ナビゲーションのためのCSS ===============*/
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: -120%;
    left: 0;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: #999;
    /*動き*/
    transition: all 0.6s;
  }
  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    top: 0;
  }
  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*リストのレイアウト設定*/
  #g-nav li {
    list-style: none;
    text-align: center;
  }
  #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
  /*========= ボタンのためのCSS ===============*/
  .openbtn {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 20px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  /*×に変化*/
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }
  .header-title {
    padding-top: 10px;
  }
  .header-title h1 {
    font-size: 2.0rem;
    padding-bottom: 3px;
  }
  .header-title p {
    font-size: 0.7rem;
    letter-spacing: 0.1em;
  }
  .openbtn {
    top: 0px;
    right: 0px;
  }
}
.footer {
  height: 150px;
  width: 100%;
  background-color: #313132;
}
.footer small {
  display: block;
  font-size: 1.4rem;
  color: #FFF;
  margin: 0 auto;
  line-height: 150px;
}